@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


.bg {
	background-color: #0d121a;
	background-image: url(../img/cork-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.billboard {
		height: 75em;
	}

.icon-size {
	ifont-size: 100px;
}

.btn-lightbulb {
  background-color: #3f4e5d;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	height: 222px;
	width: 222px;
	margin: 0 auto;
	vertical-align: center;
 }

 .btn-lightbulb:hover {
 	background-color: #0c2335;
 }

 .btn-hammer {
  background-color: #c65c4b;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	height: 222px;
	width: 222px;
	margin: 0 auto;
 }

 .btn-hammer:hover {
 	background-color: #56130b;
 }

 .btn-phone {
  background-color: #37ba98;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	height: 222px;
	width: 222px;
	margin: 0 auto;
 }

 .btn-phone:hover {
 	background-color: #0e4f3c;
 }

 .btn-text-color {
 	color: #fff;
 	font-family: 'Josefin Sans', Arial sans-serif;
 	text-transform: uppercase;
 	font-weight: 400;
 }

 .icon-hammer {
 	color: #fff;
 	font-size: 5em;
 }

 .icon-lightbulb {
 	color: #fff;
 	font-size: 5em;
 }
 .icon-phone {
 	color: #fff;
 	font-size: 5em;
 }

 .design {
	padding-top: 1em;
}

.design-title h1 {
	text-align: center;
	font-family: 'Josefin Sans', Arial sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 1.3154;
	text-transform: uppercase;
	padding-bottom: .5em;
	color: #15012b;
}


@media only screen and (min-width: 25em) {
	.design-title h1  {
		font-size: 4em;
	}
}

@media only screen and (min-width: 38em) {
	.dbg {
		background-size: 120% 200%;
	}

	.design-title h1  {
		font-size: 5.5em;
		padding-bottom: .5em;
	}
}

@media only screen and (min-width: 60em) {
	.design-title h1 {
		font-size: 5em;
	}

	.bg {
		background-size: cover;
	}

	.btn-phone {
		height: 262px;
		width: 262px;
 }

 .btn-hammer {
		height: 262px;
		width: 262px;
 }

 .btn-lightbulb {
		height: 262px;
		width: 262px;
 }

 .billboard {
		height: 40em;
	}
}

@media only screen and (min-width: 90em) {

	.bg {
		background-size: cover;
	}

	.design-title h1 {
		font-size: 5.5em;
	}

	.btn-phone {
		height: 280px;
		width: 280px;
 }

 .btn-hammer {
		height: 280px;
		width: 280px;
 }

 .btn-lightbulb {
		height: 280px;
		width: 280px;
 }
}

@media only screen and (min-width: 120em) {
}
