@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


.bg {
	background-color: #0d121a;
	background-image: url(../img/cork-board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-size {
	ifont-size: 100px;
}

.btn-lightbulb {
  background-color: #3f4e5d;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
 }

 .btn-lightbulb:hover {
 	background-color: #0c2335;
 }

 .btn-hammer {
  background-color: #c65c4b;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
 }

 .btn-hammer:hover {
 	background-color: #56130b;
 }

 .btn-phone {
  background-color: #37ba98;
  border-radius: 50%;
  padding: 40px 15px 40px 15px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #141516;
  -webkit-transition: all 500ms linear;
	transition: all 500ms linear;
 }

 .btn-phone:hover {
 	background-color: #0e4f3c;
 }

 .btn-text-color {
 	color: #fff;
 	font-family: Arial;
 }

 .icon-hammer {
 	color: #fff;
 	font-size: 5em;
 }

 .icon-lightbulb {
 	color: #fff;
 	font-size: 5em;
 }
 .icon-phone {
 	color: #fff;
 	font-size: 5em;
 }
